header(class="header", id="header")
	div(class="header__content")
			div(class="header__column")
				div(class="lang-switcher")
					p(class="lang-switcher__text") Ru / En
					button(class="switcher switcher--lang", id="lang-switcher")
						span(class="switcher__ellipse")
			div(class="header__column header__column--logo")
				a(href="#", class="header__logo")
					img(class="header__logo-img", src="img/logo.svg", alt="Логотип Вода Байкала")
			div(class="header__column header__column--align-right")
				button(class="button button--header", id="show-callback") Связаться с нами
nav(class="nav nav--above-bottle", id="nav")
	ul(class="menu")
		li(class="menu__item")
			a(href="#", class="menu__link") Продукция
		li(class="menu__item")
			a(href="#", class="menu__link") Заказ воды
		li(class="menu__item")
			a(href="#", class="menu__link") Статья
		li(class="menu__item")
			a(href="#", class="menu__link") О компании
		li(class="menu__item")
			a(href="#", class="menu__link") Контакты
			
div(class="fixed-nav", id="fixed-nav")
	ul(class="menu")
		li(class="menu__item")
			a(href="#", class="menu__link") Продукция
		li(class="menu__item")
			a(href="#", class="menu__link") Заказ воды
		li(class="menu__item")
			a(href="#", class="menu__link") Статья
		li(class="menu__item")
			a(href="#", class="menu__link") О компании
		li(class="menu__item")
			a(href="#", class="menu__link") Контакты
