doctype html
html(lang="ru")
	head
		meta(charset="utf-8")
		meta(http-equiv="x-ua-compatible", content="ie=edge")
		title Статья
		meta(name="description", content="")
		link(rel="apple-touch-icon" href="apple-touch-icon.png")
		link(rel="stylesheet" href="css/main.css")
	body
		<!--[if lt IE 8]><p class="browserupgrade">Вы используете <strong>устаревший</strong> браузер. Пожалуйста, <a href="http://browsehappy.com/">обновите</a> свой браузер.</p><![endif]-->

		div(class="page")
			include ../blocks/header.jade
			
			div(class="content")
				ul(class="breadcrumbs")
					li(class="breadcrumbs__item")
						a(href="#", class="breadcrumbs__link") Главная
					li(class="breadcrumbs__item")
						span(class="breadcrumbs__link breadcrumbs__link--current") Статья
				h1(class="main-title") Статья
				img(class="simple-img", src="img/baikal1.jpg", alt="Байкал")
				p(class="simple-text")
					| Я&nbsp;сознательно не&nbsp;упоминаю про обсуждение как лучше и&nbsp;проще идентифицировать агента (Роман спросил можно&nbsp;ли по&nbsp;IMEI телефона, например, идентифицировать), о&nbsp;пожелании, чтоб даже при условии плохой связи можно было сформировать заказ, а&nbsp;как связь &laquo;появится&raquo;, то&nbsp;отправлять заказ и&nbsp;ряд других моментов, которые могут в&nbsp;значительно степени повлиять на&nbsp;стоимость проекта.
				p(class="simple-text")
					| На&nbsp;днях я&nbsp;договорился встретиться с&nbsp;одним моим знакомым на&nbsp;предмет обсуждения его идеи web-сайта. Руслан&nbsp;&mdash; успешный бизнесмен и&nbsp;бизнес его естественно не&nbsp;связан с&nbsp;интернетом. Сразу скажу, я&nbsp;не&nbsp;иронизирую случившуюся ситуацию, более того, я&nbsp;согласовал с&nbsp;Русланом, что основываясь на&nbsp;нашем с&nbsp;ним разговоре, постараюсь написать небольшую статью.
				p(class="simple-text")
					| Итак, вот первоначальная постановка его задачи&nbsp;&mdash; т.е.&nbsp;то, как была озвучена бизнес-модель: &laquo;Александр, мне нужна страничка на&nbsp;моем сайте или где-то в&nbsp;интернете, на&nbsp;которой человек сможет заполнять форму и&nbsp;те&nbsp;данные, которые он&nbsp;занес должны отправляться на&nbsp;наш e-mail. При этом должны передаваться контактные данные этого пользователя&raquo;.
				p(class="simple-text")
					| Мне представляется, что даже этого сокращенного диалога достаточно, чтобы увидеть как &laquo;простая страница с&nbsp;возможностью заполнить форму и&nbsp;отправить на&nbsp;e-mail&raquo; за&nbsp;полчаса обсуждения благополучно выросла до&nbsp;проекта, где есть система заказов, есть личный кабинет агента с&nbsp;историей его заказов&nbsp;и, возможно, с&nbsp;финансовыми показателями, есть личный кабинет оператора, где он&nbsp;видит заказы агентов и&nbsp;может при необходимости их&nbsp;редактировать и&nbsp;устанавливать статусы. В&nbsp;общем, получился полноценный такой бизнес-инструмент.
				p(class="simple-text")
					| Мне представляется, что даже этого сокращенного диалога достаточно, чтобы увидеть как &laquo;простая страница с&nbsp;возможностью заполнить форму и&nbsp;отправить на&nbsp;e-mail&raquo; за&nbsp;полчаса обсуждения благополучно выросла до&nbsp;проекта, где есть система заказов, есть личный кабинет агента с&nbsp;историей его заказов&nbsp;и, возможно, с&nbsp;финансовыми показателями, есть личный кабинет оператора, где он&nbsp;видит заказы агентов и&nbsp;может при необходимости их&nbsp;редактировать и&nbsp;устанавливать статусы. В&nbsp;общем, получился полноценный такой бизнес-инструмент.
				p(class="simple-text")
					| Я&nbsp;не&nbsp;хочу сказать, что именно так и&nbsp;в&nbsp;полном объеме надо разрабатывать этот сайт. Это решать заказчику. Он&nbsp;сам может определить экономическую целесообразность или нецелесообразность инвестировать в&nbsp;такой проект. Я&nbsp;лишь хотел на&nbsp;реальном кейсе показать, что ответить сходу на&nbsp;вопрос &laquo;сколько будет стоить стандартный сайт&raquo; невозможно. Точнее если вы&nbsp;услышите цифру, скорее всего она будет ничем не&nbsp;обоснована.
				ul(class="simple-images")
					li(class="simple-images__item-wrap")
						div(class="simple-images__item")
							div(class="simple-images__img", style="background: url(img/baikal2.jpg) center no-repeat; background-size: cover;")
					li(class="simple-images__item-wrap")
						div(class="simple-images__item")
							div(class="simple-images__img", style="background: url(img/baikal3.jpg) center no-repeat; background-size: cover;")
				p(class="simple-text")
					| Теперь&nbsp;же, когда работа Уилла с&nbsp;игрой Alien: Isolation была завершена, что несомненно удачно совпало с&nbsp;ходом разработки NPC, он&nbsp;собирается приступить к&nbsp;работе над диалогами NPC. Мечта разработчиков: создание бесконечных, процедурно-генерируемых сюжетных линий аля Walking Dead. То&nbsp;есть то&nbsp;что мы&nbsp;видели в&nbsp;небезизвестной игре, этот потрясающий до&nbsp;глубины души сюжет заставляющий сопереживать героям как никакой другой, в&nbsp;игре, по&nbsp;надеждам разработчиков, мы&nbsp;будем видеть постоянно.
				p(class="simple-text")
					| В&nbsp;общем-то мечты мечтами, но&nbsp;до&nbsp;них еще нужно добраться. Однако у&nbsp;разработчиков уже есть нечто захватывающее и&nbsp;интересное, что ждет не&nbsp;дождется чтобы выйти на&nbsp;свет и&nbsp;показать себя во&nbsp;всей красе.
				p(class="simple-text")
					| Возвращаясь к&nbsp;теме, Уилл сейчас работает над новыми канонами мира&nbsp;PZ а&nbsp;также проработкой предыстории, радиопередач, и&nbsp;всего другого что может нам рассказать о&nbsp;том как все началось. Возможно даже, что, по&nbsp;ходу игры, можно будет наконец разгадать загадку того, как начался весь этот кошмар.
				p(class="simple-text")
					| Недавно разработчики встретили старого друга, которого Бинки и&nbsp;Лемми знали еще со&nbsp;времен былой коммерческой промышленности (когда еще не&nbsp;являлись разработчиками Project Zomboid). И&nbsp;так, случайно сложилось, что он&nbsp;стал аниматором! Что это значит? Это означает, что в&nbsp;сентябре,в свободное от&nbsp;работы время, он&nbsp;будет помогать команде Indie Stone с&nbsp;анимацией в&nbsp;игре в&nbsp;течении нескольких месяцев. Пусть Бинки и&nbsp;владеет некоторыми навыками в&nbsp;этом направлении, но&nbsp;всегда говорил о&nbsp;том что его навыки никак не&nbsp;идут в&nbsp;сравнении с&nbsp;теми коими владеет профессиональный 3D&nbsp;аниматор.
		
		include ../blocks/footer.jade
		
		script(src="js/vendor/vendor-min.js")
		script(src="js/global.js")
