doctype html
html(lang="ru")
	head
		meta(charset="utf-8")
		meta(http-equiv="x-ua-compatible", content="ie=edge")
		title Контакты
		meta(name="description", content="")
		link(rel="apple-touch-icon" href="apple-touch-icon.png")
		link(rel="stylesheet" href="css/main.css")
	body
		<!--[if lt IE 8]><p class="browserupgrade">Вы используете <strong>устаревший</strong> браузер. Пожалуйста, <a href="http://browsehappy.com/">обновите</a> свой браузер.</p><![endif]-->

		div(class="page page--contacts")
			include ../blocks/header.jade
			
			div(class="content")
				ul(class="breadcrumbs")
					li(class="breadcrumbs__item")
						a(href="/", class="breadcrumbs__link") Главная
					li(class="breadcrumbs__item")
						span(class="breadcrumbs__link breadcrumbs__link--current") Контакты
				
				h1(class="main-title") Контакты
				
				ul(class="cities")
					li(class="cities__item")
						h2(class="sub-title sub-title--contacts") Лос-Сантос
						ul(class="contacts")
							li(class="contacts__item")
								h3(class="contacts__title") Наш адрес
								p(class="contacts__text") г.&nbsp;Лос-Сантос, ул.&nbsp;Грин-стрит,&nbsp;169
							li(class="contacts__item")
								h3(class="contacts__title") Телефон
								p(class="contacts__text contacts__text--bold") 
									| 8 (659) 
									span(class="red-text") 684-32-54
							li(class="contacts__item")
								h3(class="contacts__title") Электронный адрес
								p(class="contacts__text contacts__text--bold")
									a(href="mailto:#", class="contacts__link") cj.greenstreet@mail.ls
							li(class="contacts__item")
								h3(class="contacts__title") Сайт
								p(class="contacts__text contacts__text--bold")
									a(href="#", class="contacts__link", target="_blank") www.somedomenname.ls
					li(class="cities__item")
						h2(class="sub-title sub-title--contacts") Сан-Фиеро
						ul(class="contacts")
							li(class="contacts__item")
								h3(class="contacts__title") Наш адрес
								p(class="contacts__text") г.&nbsp;Сан-Фиеро, ул.&nbsp;Центральная,&nbsp;42, офис&nbsp;21
							li(class="contacts__item")
								h3(class="contacts__title") Телефон
								p(class="contacts__text contacts__text--bold") 
									| 8 (5974) 
									span(class="red-text") 679-634
								p(class="contacts__text contacts__text--bold") 
									| 8 (9754) 
									span(class="red-text") 639-796
							li(class="contacts__item")
								h3(class="contacts__title") Телефон доставки
								p(class="contacts__text contacts__text--bold") 
									| 8 (6945) 
									span(class="red-text") 369-945
								p(class="contacts__text contacts__text--bold") 
									| 8 (3595) 
									span(class="red-text") 965-498
								p(class="contacts__text contacts__text--bold") 
									| 8 (3654) 
									span(class="red-text") 395-416
							li(class="contacts__item")
								h3(class="contacts__title") Электронный адрес
								p(class="contacts__text contacts__text--bold")
									a(href="mailto:#", class="contacts__link") sf@supermail.sf
					li(class="cities__item")
						h2(class="sub-title sub-title--contacts") Вайс Сити
						ul(class="contacts")
							li(class="contacts__item")
								h3(class="contacts__title") Наш адрес
								p(class="contacts__text") г.&nbsp;Вайс Сити, ул.&nbsp;Лесопарковая,&nbsp;96
							li(class="contacts__item")
								h3(class="contacts__title") Телефон для заказов
								p(class="contacts__text contacts__text--bold") 
									| 8 (4562) 
									span(class="red-text") 954-694
							li(class="contacts__item")
								h3(class="contacts__title") Электронный адрес
								p(class="contacts__text contacts__text--bold")
									a(href="mailto:#", class="contacts__link") tomy@vc.yo
				ul(class="cities cities--footer")
					li(class="cities__item")
						span(class="cities__show-on-the-map cities__show-on-the-map--active", id="kras") 
							i(class="cities__map-icon")
								svg(xmlns="http://www.w3.org/2000/svg", version="1.2", baseProfile="tiny", viewBox="0 0 17.5 25")
									path(d="M8.8 0C3.9 0 0 3.9 0 8.8c0 .4 0 .7.1 1.1.7 6.9 8.1 14.8 8.1 14.8.1.1.3.2.4.3h.2l.2-.1c.1-.1.2-.2.4-.3 0 0 7.3-7.9 8-14.8 0-.4.1-.7.1-1.1 0-4.8-3.9-8.7-8.7-8.7zm0 14.4c-3.1 0-5.6-2.5-5.6-5.6s2.5-5.6 5.6-5.6 5.6 2.5 5.6 5.6-2.5 5.6-5.6 5.6z")
							| Показать на карте
					li(class="cities__item")
						span(class="cities__show-on-the-map", id="irk") 
							i(class="cities__map-icon")
								svg(xmlns="http://www.w3.org/2000/svg", version="1.2", baseProfile="tiny", viewBox="0 0 17.5 25")
									path(d="M8.8 0C3.9 0 0 3.9 0 8.8c0 .4 0 .7.1 1.1.7 6.9 8.1 14.8 8.1 14.8.1.1.3.2.4.3h.2l.2-.1c.1-.1.2-.2.4-.3 0 0 7.3-7.9 8-14.8 0-.4.1-.7.1-1.1 0-4.8-3.9-8.7-8.7-8.7zm0 14.4c-3.1 0-5.6-2.5-5.6-5.6s2.5-5.6 5.6-5.6 5.6 2.5 5.6 5.6-2.5 5.6-5.6 5.6z")
							| Показать на карте
					li(class="cities__item")
						span(class="cities__show-on-the-map", id="kal") 
							i(class="cities__map-icon")
								svg(xmlns="http://www.w3.org/2000/svg", version="1.2", baseProfile="tiny", viewBox="0 0 17.5 25")
									path(d="M8.8 0C3.9 0 0 3.9 0 8.8c0 .4 0 .7.1 1.1.7 6.9 8.1 14.8 8.1 14.8.1.1.3.2.4.3h.2l.2-.1c.1-.1.2-.2.4-.3 0 0 7.3-7.9 8-14.8 0-.4.1-.7.1-1.1 0-4.8-3.9-8.7-8.7-8.7zm0 14.4c-3.1 0-5.6-2.5-5.6-5.6s2.5-5.6 5.6-5.6 5.6 2.5 5.6 5.6-2.5 5.6-5.6 5.6z")
							| Показать на карте
			
			div(class="map", id="map")
						
		include ../blocks/footer.jade
		
		script(src="js/vendor/vendor-min.js")
		script(src="http://maps.api.2gis.ru/2.0/loader.js?pkg=full")
		script(src="js/global.js")
