//START FOOTER
.footer {
	background: map-get($colors, blue);
	border-top: 1px solid map-get($colors, dark-blue);
	position: relative;

	&__up {
		width: 40px; height: 40px;
		background: map-get($colors, blue);
		border: 1px solid map-get($colors, dark-blue);
		border-radius: 50%;
		outline: none;
		position: absolute;
		top: -20px; left: 0; right: 0;
		margin: auto;
		z-index: 20;

		&::after {
			content: "";
			display: block;
			width: 32.5%; height: 22.5%;
			position: absolute;
			top: 20%; left: 0; right: 0;
			margin: auto;
			background: url(../img/up-arrow.svg) center no-repeat;
			background-size: contain;
			@include transition(top, 0.25s);
		}

		&:hover::after {top: calc(20% - 2px)}
	}

	&__copyright {
		@include font-size(16px);
		@include font();
		line-height: 1;
		color: white;
		padding: 0.75em 0;
		text-align: center;
		background: map-get($colors, dark-blue);
	}

	&__logo {
		display: inline-block;
		height: 100%;
	}

	&__logo-img {
		height: 100%; width: auto;
	}
}

.footer-row {
	font-size: 0;
	height: 160px;
	width: 980px;
	margin: auto;
	background: inherit;
	position: relative;
	z-index: 25;

	&__column {
		display: inline-block;
		vertical-align: top;
		width: 33.33333333333333%; height: 100%;

		&:first-child {margin-left: 33.33333333333333%}
		&--logo {
			padding: 42px 0;
			text-align: center;
		}
		&--mmit {text-align: right}
	}
}

.mmit {
	display: inline-block;
	font-size: 0;
	position: relative;
	vertical-align: middle;

	&__logo,
	&__text {
		display: inline-block;
		vertical-align: top;
		@include font-size(16px);
	}

	&__logo {
		width: 3.125em; height: 3.125em;
		border: 6px solid white;
		background: white;
		border-radius: 50%;
	}

	&__svg {
		width: 100%; height: 100%;
		display: block;
		fill: #231F20;
		@include transition(fill);
	}

	&__text {
		@include font();
		text-align: left;
		line-height: 0.875;
		color: white;
		margin: 0.75em 0 0 0.5625em;
	}

	&:hover &__svg {fill: map-get($colors, blue)}
}
// END FOOTER


// START MODALS
.overlay {
	position: fixed;
	top: 0; left: 0;
	width: 100%; height: 100%;
	background: map-get($colors, dark-blue);
	opacity: 0.5;
	z-index: 9998;
	@include fade();

	&--active {
		opacity: 0.5;
		visibility: visible;
	}
}

.modal {
	position: fixed;
	z-index: 9999;
	top: 50%; left: 0; right: 0;
	background: white;
	border: 1px solid map-get($colors, blue);
	@include fade();

	&--active {
		opacity: 1;
		visibility: visible;
	}

	&--callback {
		width: 460px;
		padding: 51px 0;
		margin: -157.5px auto 0 auto;
	}

	&__close {
		position: absolute;
		top: -37px; right: -37px;
		width: 26px; height: 26px;
		cursor: pointer;
		@include transition(all);

		&:hover {
			transform: rotate(180deg);
		}
	}

	&__close-icon {
		width: 100%; height: 100%;
		fill: white;
	}
}
// END MODALS
